// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgba(0,0,0,0.3);
  margin: 100px, 100px;
}

.row {
  display: flex;
  flex-direction: cloumn;
  justify-content: center;
}
